.App {
  text-align: center;
}
.remove, .status{
  box-shadow: 1px 1px 1px black !important; 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.active{
  color: black;
}
.game{
  font-size: 1.5rem;
}

.playing{
  background-color: green;
  color: white;
  box-shadow: 1px 1px 1px black !important; 
}
.not-playing{
  background-color: red;
  color: white;
  box-shadow: 1px 1px 1px black !important; 
}
.undecided{
  background-color: yellow;
  color: black;
  box-shadow: 1px 1px 1px black !important; 
}

.btn-success{
  font-weight: bold !important;
  margin-left: 36rem !important;
}
.form-space{
  margin-top: 5%;
}
label{
  width: 250px !important;
}
#react-confirm-alert{
  z-index: 1;
  position: relative;
  bottom: 275px;
  width: fit-content;
  margin: 0 auto;
  font-weight: bolder;
  text-align: center;
  color:azure
}
.react-confirm-alert-body{
  display: flex;
  flex-direction:  column;
  justify-content: center;
  padding: 1rem;
  background-color: dodgerblue;
}

.react-confirm-alert-body button{
  margin: 5% 5%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
